.movie-categories {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(135, 135, 135, 1);
  margin-left: 75px;
}
